* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

#page {
    max-width: 1400px;
    margin: 20px auto;
    padding: 40px;
    background-image: url('https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

#logo {
    max-width: 250px;
    display: block;
    margin: 0 auto 30px auto;

}
ul {
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    list-style: none;
    background-color: #444;
}

li {
    display: inline;
    margin: 0 30px;
}

p {
    text-align: center;
    max-width: 900px;
    margin: 40px auto;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

a:hover {
    background-color: #fff;
    color: #333;
    transform: scale(1.05);
}

#page:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

